RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.html [QSA,L]

#RewriteEngine On
#RewriteCond "%{REQUEST_FILENAME}"       !-f
#RewriteCond "%{REQUEST_FILENAME}"       !-d
#RewriteRule "/(.*)" "localhost:8080" [P]
#ProxyPassReverse "/" "localhost:8080"

